h1{
    color: goldenrod;
    font-size: 40px;
}
h2{
    color: blue;
    font-size: 50px;
}
*{
    background-color: azure;
    background-image: url(images.jpg);
    background-repeat: no-repeat;
}
h3{
    color: green;
    font-size: 20px;
}